.tabs {
  list-style: none;
  padding: 0 0 0.5rem;
  display: flex;
  border-bottom: thin solid var(--neutral-gray-300);

  a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 14px;
    color: var(--neutral-gray-900);
    transition: all 0.3s ease, color 0.3s ease;

    &[aria-current="page"] {
      border-bottom: 2px solid var(--success);
      font-weight: 700;
      transition: all 0.3s ease;

    }
  }
  li{
    transition: all 0.3s ease, color 0.3s ease;

  }
}
