.adminPanel {
	display: block;
	font-family: "Red Hat Display", sans-serif;
	padding: 80px 10% 20px;
	color: var(--main);
	background-color: var(--neutral-gray-100);
	position: relative;
	h3,
	h2 {
		margin-block: 0.45rlh 0.75rlh;
	}
	.editPanel {
		background-color: var(--neutral-gray-200);
		padding: 1rem 2rem 2rem;
		border-radius: 4px;
		margin-bottom: 1.2rem;
		th {
			font-size: 1rem;
			font-weight: 600;
		}
		td {
			font-size: 0.8rem;
		}
		button {
			margin: 5px;
		}
	}
    .dataForm {
		display: flex;
		gap: 8px;
		flex-wrap: wrap;

		input {
			padding: 0.5rem;
			margin: 0;
			&[type="checkbox" i] {
				width: 20px;
				height: 20px;
				margin-left: 10px;
				accent-color: var(--main);
				vertical-align: middle;
			}
			&[type="text-area" i] {
				width: 40%;
			}
			&[name="id" i] {
				background-color: var(--neutral-gray-300);
			}
		}
		:hover {
			opacity: 0.8;
		}
		label {
			margin: 0.4rem;
		}
		button {
			width: 22%;
			letter-spacing: 1px;
			font-weight: 600;
			padding: 0.5rem 1rem;
			border-radius: 8px;
			margin: 0.5rem 70% 0.5rem 0;
			background-color: var(--neutral-violet-300);
			border: 1px solid var(--neutral-gray-700);
			&:hover {
				background-color: var(--neutral-violet-300);
				box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
				font-weight: 800;
			}
		}
	}
	.disclaimer {
		font-size: 0.9em;
		color: #888;
	}
	.error {
		color: red;
	}
	.dataTable {
		width: 100%;
		margin-bottom: 20px;
		border-collapse: collapse;
            display: block;

		th,
		td {
			border: 1px solid var(--neutral-gray-700);
			padding: 4px 6px;
            font-size: small;
            text-align: left;
            	font-size: 12px;
		}.descripcion {
				font-size: 8px;
			}
        button{
            margin: 0 4px 2px;
        }
	}
	
}
