.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem 0;

  .card {
    color: var(--text);
    padding: 1rem;
    border-radius: 26px;
    background-color: var(--neutral-gray-100);
    display: flex;
    flex-direction: column;
    gap: 0;
    transition: border-left 0.3s ease;
    border-left: 4px solid transparent;
    font-size: 14px;
    height: fit-content;


    svg{
      width: 1.8rem;
      display: inline-flex;
      float: right;
    }
  span{
    height: 20px;
  }

  .amount {
    font-size: 36px;
    font-weight: 700;
    margin: 5px 0;
  }

  .historical {
    font-size: 12px;
  }

  &.positive {
    border: 0.5px solid var(--success)   ;
    svg{
      color: var(--success)  ;
  }
}

  &.negative {
    border: 0.5px solid var(--error) ;
    svg, .amount{
      color: var(--error)  ;
  }

  }

  &.neutral {
    border: 0.5px solid var(--neutral-gray-200) ;
     
  }
}}
/* :hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

} */